@media screen and (min-width: 1200px) {
    .form {
        max-width: 35rem;
    }
}

@media screen and(max-width: 920px) {
    .container-form {
        .form {
            .btn {
                width: 6rem;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .landing {
        &-inner {
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .welcome {
        .inner {
            grid-gap: 2rem;
        }
    }

    .post {
        grid-gap: 2rem;

        .text {
            h1 {
                font-size: 1.5rem;
            }
        }
    }
    .container-form {
        .form {
            width: 70vw;
        }
    }
}

@media screen and (max-width: 555px) {
    .form {
        .btn {
            display: block;
            margin: 1rem auto;
        }
    }
}

@media screen and (max-width: 500px) {
    .landing {
        &-inner {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    .posts {
        grid-template-columns: 1fr;
    }

    .welcome {
        .inner {
            grid-template-columns: 1fr;
            grid-gap: 2rem;
            .text {
                grid-area: text;
            }
            img {
                grid-area: image;
            }
            grid-template-areas:
                "image"
                "text";
        }
        h1 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }
    }

    .post {
        grid-template-columns: 1fr;

        .text {
            h1 {
                font-size: 1.5rem;
            }
        }
    }

    .navbar {
        display: none;
    }
    .landing {
        margin: 0;
    }
    .menu-wrap {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

        & .toggler {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
            width: 4rem;
            height: 4rem;
            opacity: 0;

            &:checked {
                & + .hamburger > div {
                    transform: rotate(135deg);

                    &:before,
                    &:after {
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
                & ~ .menu {
                    visibility: visible;

                    & > div {
                        transform: scale(1);

                        > div {
                            opacity: 1;
                        }
                    }
                }
                &:hover + .hamburger > div {
                    transform: rotate(225deg);
                }
            }
        }

        & .hamburger {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 4rem;
            height: 4rem;
            padding: 1rem;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;

            & > div {
                position: relative;
                width: 100%;
                height: 2px;
                background: $light-color;
                transition: all 0.4s ease;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: -10px;
                    width: 100%;
                    height: 2px;
                    background: inherit;
                }

                &::after {
                    top: 10px;
                }
            }
        }

        & .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            & > div {
                background: $dark-color;
                border-radius: 50%;
                width: 400vw;
                height: 200vh;
                display: flex;
                flex: none;
                align-items: center;
                justify-content: center;
                transform: scale(0);
                transition: all 0.4s ease;
                div {
                    text-align: center;
                    max-width: 90vw;
                    max-height: 100vh;
                    opacity: 0;
                    transition: opacity 0.4s ease;

                    li {
                        color: $light-color;
                        font-size: 1.2rem;
                        margin: 1.5rem;
                        a {
                            color: inherit;
                            padding: 1.5rem;
                            border-radius: 25px;
                            &:hover {
                                color: $primary-color;
                                background-color: $light-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .form {
        width: 80vw;

        input {
            max-width: 10rem;
        }
        .btn {
            display: block;
            margin: 1rem auto;
        }
    }
}
